<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>{%block title%}404{%endblock%} - LD-Dev</title>

        <!-- Bootstrap core CSS -->
        <link href="/assets/css/bootstrap.css" rel="stylesheet">
        <link href="/assets/css/footer.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="/assets/js/html5shiv.js"></script>
          <script src="/assets/js/respond.min.js"></script>
        <![endif]-->
        <style type="text/css"></style></head>

    <body style="">

        <!-- Wrap all page content here -->
        <div id="wrap">
            <nav class="navbar navbar-default" role="navigation">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/home/index">LD-Dev</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        {% if login.is_logged_in == false %}
                            <li class="dropdown" id="login">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Login <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <form method="POST" action="/user/login">
                                        <input type="text" placeholder="username" id="uname" name="uname">
                                        <input type="password" placeholder="Password" id="pword" name="pword">
                                        <input type="checkbox" name="rm" id="rm" value="true"> Remember me
                                        <input type="submit" class="btn btn-info" name="submit" id="submit" value="Submit">
                                    </form>
                                </ul>
                            </li>
                        {% endif %}
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </nav>
                <!-- Begin page content -->
                <div class="container">
                {% if success is not empty %}
                        <div class="alert alert-success alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            {% for item in success %}
                                {{item.body}} <br />
                            {%endfor%}
                        </div>
                {% endif %}
                {% if error is not empty %}
                        <div class="alert alert-danger alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            {% for item in error %}
                                {{item.body|raw}} <br />
                            {%endfor%}
                        </div>
                {% endif %}                
                {% if warning is not empty %}
                        <div class="alert alert-success alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            {% for item in warning %}
                                {{item.body|raw}} <br />
                            {%endfor%}
                        </div>
                {% endif %}
                {% if info is not empty %}
                        <div class="alert alert-success alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            {% for item in info %}
                                {{item.body|raw}} <br />
                            {%endfor%}
                        </div>
                {% endif %}
                {% block content %}
                        <h1>Under construction...</h1>
                        <p>... or maybe this page went on vacation. Or there was no content here in the first place... anyways... yell at your local admin to fix this...</p>
		{% endblock %}
                    </div>
                </div>
                <div id="footer">
                    <div class="container">
                        <p class="text-muted credit"><small> Powered by <a href="http://www.fuelphp.com">FuelPHP</a> {{fuel_version()}} - &copy; by TheDrake23</small></p>
                    </div>
                </div>


                <!-- Bootstrap core JavaScript
                ================================================== -->
                <!-- Placed at the end of the document so the pages load faster -->
                <script src="/assets/js/jq.min.js"></script>
                <script src="/assets/js/bootstrap.min.js"></script>


            </body>
        </html>