{% extends "base.twig" %}

{% block title %}Home{%endblock%}

{% block content %}
<h1>There's no content here. Yet.</h1>
<p>This site is in alpha state. We're currently trying to build a set of eBook features like
<ul>
    <li>Provide HTML and OPDS catalogs on a per-user-basis</li>
    <li>View and edit eBook Metadata</li>
    <li>Review eBooks</li>
    <li>Import a dump of your <a href="http://www.calibre-ebook.com/">Calibre</a> library</li>
    <li>an intuitive admin interface</li>
</ul>
<br />
Please keep in mind, that this site and it's features are under heavy development. Features may change, content may change or disappear as we roll back to an earlier backup of the database. Features may not work as intended, may appear incomplete or broken.<br /><br />In any of these cases, please report to the local <a href="/groups/members/6">admins</a>.</p>

<p>If you want to aid development, visit our <a href="https://bitbucket.org/LordDrake23/ld-c2w">BitBucket</a> repo.</p>
{% endblock %}